*{
    padding: 0;
    margin: 0;
    font-size: 'Arial';
    box-sizing: border-box;
}
#Box{
    width: 900px;
    height: 300px;
    background-image: url(https://i.pinimg.com/originals/df/fd/77/dffd7761d0d86ff0d8ef90e5c285fe96.gif);
    border-radius: 10px 20px 30px 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 180px;
    margin-top: 150px;
    opacity: 100%;
    position: fixed;
    z-index: 9999;
    box-shadow: 15px 10px 15px 1px rgb(14, 1, 36);
    background-repeat: no-repeat;
    background-size: 100% 450px;
    }

body{
    width: 100%;
    min-height: 100%;
}

section{
    width: 100%;
    height: 100%;
} 

section div.background-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: fixed;
    z-index: 1;
    
}

.calculo{
    font-size: 40px;
    margin-left: 20px;
    margin-top: 20px;
    text-shadow: 5px 2px 5px black;
    color: white;
}

.valor1{
    margin-left: 58px;
    margin-top: 10px;
}

.valor2{
    margin-left: 50px;
}
.valorx{
    color: white;
    font-size: 15px;
    margin-left: 12px;
    margin-bottom: -30px;
    margin-top: 25px;
    text-shadow: 5px 2px 5px black;
}

.valory{
    color: white;
    margin-left: 230px;
    font-size: 15px;
    margin-bottom: -28px;
    margin-top: 15px;
    text-shadow: 5px 2px 5px black;
}
.resul{
    margin-left: 12px;
    margin-top: 15px;
    font-size: 20px;
}